.liste-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  transition: all 0.2s;
  background-color: var(--primary-light);
  border-bottom: 1px solid var(--secondary-color);
  color: var(--text-light);
}
.liste-item:hover {
  background-color: var(--secondary-dark);
}
.liste-item-checked {
  background-color: var(--primary-dark);
  opacity: 0.75;
}
.liste-item-checked .liste-item-text {
  text-decoration: line-through;
  color: rgba(236, 239, 244, 0.6);
}
.liste-input {
  background-color: var(--primary-color); /* 60% */
  border: 2px solid var(--secondary-color); /* 30% */
  color: var(--text-light);
  padding: 0.875rem;
  border-radius: 0.5rem;
  width: 100%;
  transition: all 0.2s ease;
  padding-left: 1.5rem;
}

.liste-input:focus {
  border-color: var(--secondary-light);
  box-shadow: 0px 0px 20px rgba(136, 192, 208, 0.3);
  outline: none;
}

.liste-input::placeholder {
  color: rgba(236, 239, 244, 0.5);
}

.liste-input:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
